<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<h1>Welcome to Employee Page</h1>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email Address</td>
    </tr>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.firstName}">First Name</td>
        <td th:text="${employee.lastName}">Last Name</td>
        <td th:text="${employee.emailAddress}">Email Address</td>
    </tr>
</table>
</body>
</html>