<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Welcome to Message Page</h1>
<table>
    <tr>
        <td>content</td>
        <td>first name</td>
        <td>Last Name</td>
        <td>Team Name</td>
        <td>Message Type</td>
    </tr>
    <tr th:each="message: ${messages}">
        <td th:text="${message.content}">content</td>
        <td th:text="${message.sender.firstName}">First Name</td>
        <td th:text="${message.sender.lastName}">Last Name</td>
        <td th:text="${message.sender.team.name}">Team Name</td>
        <td th:text="${message.type}">Message Type</td>


    </tr>
</table>
</body>
</html>